.title {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem 0 2rem 0;
}

.title h1 {
    margin-bottom: 0 !important;
}

.title button {
    border: none;
    background: none;
    padding: 0;
    outline: none;
}

.workoutsWeek {
    background-color: var(--color-blue-1);
    padding: 1rem 1rem 1.5rem 1rem;
    border: 1px solid var(--color-blue-3);
    border-radius: .375rem;
}

.workoutsWeek h3 {
    color: var(--color-white);
    margin-bottom: 1rem;
}

.workouts {
    padding: 3rem 0;
}

.workouts h2 {
    margin-bottom: 1.5rem;
}

.workouts button {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    width: 100%;
}

.workouts button.btnCreateTraining {
    border: none;
    background: none;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
}

.cardBgBlue {
    border: none;
    background-color: var(--color-blue-1);
    color: var(--color-white);
}

.cardBgBlueContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
}

.cardBgBlueContent span {
    color: var(--color-orange-2);
    font-weight: 700;
}

.cardBgBlueContent svg, .loading {
    opacity: .6;
}

@media (max-width: 30rem) {
    .title {
        padding: 3rem 0 2rem 0;
    }

    .workoutsWeek {
        border-left: none;
        border-right: none;
        border-radius: 0;
        margin-left: -.75rem;
        margin-right: -.75rem;
    }

    .workouts {
        padding: 3rem 0;
    }
}

@media (max-width: 275px) {
    /** Change scrollbar theme */
    /* Works on Firefox */
    .workoutsWeek {
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--color-white);
    }
    
    /* Works on Chrome, Edge, and Safari */
    .workoutsWeek::-webkit-scrollbar {
        width: 0.625rem;
    }
    
    .workoutsWeek::-webkit-scrollbar-track {
        background-color: var(--color-white);
        border-radius: .375rem;
    }
    
    .workoutsWeek::-webkit-scrollbar-thumb {
        background-color: var(--color-grey-3);
        border-radius: 20px;
        border: 2px solid var(--color-white);
    }

    .workoutsWeek::-webkit-scrollbar-thumb:hover {
        background: var(--color-grey-2);
    }
}