.home {
    text-align: center;
    padding: 5rem 1rem;
}

.home h1 {
    font-family: var(--font-second);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-blue-2);
    margin-top: 1rem;
    margin-bottom: 4rem;
}