.trainingWeekCard {
    margin-bottom: 2rem;
}

.card {
    border: none;
    background-color: var(--color-black-3);
    color: var(--color-white);
    box-shadow: 0 2px 2px 0 rgba(34, 34, 34, .1), 0 4px 4px 0 rgba(34, 34, 34, .2);
}

.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
}

.cardContent span {
    color: var(--color-tomato-3);
    font-weight: 700;
}

.cardContent svg, .loading {
    opacity: .6;
}