@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Boogaloo&display=swap');

/** Reset */
* {
    box-sizing: border-box;
}

body {
    --font-first: Asap, Helvetica, Arial, sans-serif;
    --font-second: Boogaloo, cursive;
    --color-blue-1: #37c;
    --color-blue-2: #25a;
    --color-blue-3: #149;
    --color-tomato-1: #f86;
    --color-tomato-2: #f64;
    --color-tomato-3: #f42;
    --color-red-1: #e21;
    --color-red-2: #a10;
    --color-green-1: #1b3;
    --color-green-2: #193;
    --color-black-1: #555;
    --color-black-2: #333;
    --color-black-3: #111;
    --color-grey-1: #eee;
    --color-grey-2: #ccc;
    --color-grey-3: #aaa;
    --color-white: #fff;
    
    margin: 0;
    color: var(--color-black-3);
    font-family: var(--font-first) !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    display: block;
    font-size: 1rem;
    font-family: var(--font-first) !important;
    color: var(--color-black-3) !important;
}

a {
    text-decoration: none !important;
    color: var(--color-black-3);
}

/** Form */
.container {
    max-width: 30rem !important;
    margin: 0 auto;
}

.title-1 {
    font-size: 1.25rem;
    font-weight: 700;
}

.title-2 {
    font-size: 1.125rem;
    font-weight: 700;
}

.title-3 {
    font-size: 1rem;
    font-weight: 700;
}

/** Calendar item */
.active::after {
    border: 3px solid var(--color-green-1) !important;
}

/** Custom Bootstrap */
/** Card */
.card-body p {
    margin-bottom: 0 !important;
}

/** Form */
.valid-feedback {
    color: var(--color-green-2);
}

.invalid-feedback {
    color: var(--color-red-2);
}

/** Modal */
.modal-content {
    border: none;
}

.modal-header {
    background-color: var(--color-blue-3);
}

.modal-header .modal-title {
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.125rem;
}

.modal-header .btn-close {
    margin-right: 0;
    background-color: var(--color-tomato-1) !important;
    border-radius: .375rem;
    transition: .3s;
}

.modal-body p {
    margin-bottom: 0 !important;
}

/** Carousel */
.carousel.slide,
.carousel-inner,
.carousel-item {
    border-radius: .375rem;
    background-color: var(--color-blue-2);
}

.carousel-indicators {
    bottom: -3.5rem !important;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--color-tomato-3) !important;
    width: .375rem !important;
    height: .375rem !important;
    border-radius: 50% !important;
}

/** Animation */
.animeLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}